/* @font-face {
    font-family: "Choplin";
    src:url("fonts/Choplin/Choplin-ExtraLight-DEMO.otf");
}
@font-face {
    font-family: "Archive";
    src:url("fonts/Archive/Archive-Regular.otf");
}
@font-face {
    font-family: "Mozer";
    src:url("fonts/Mozer/Mozer-SemiBold.otf");
}
@font-face {
    font-family: "Baron";
    src:url("fonts/Baron/BaronNeue-Regular.otf");
}
@font-face {
    font-family: "Bukhari";
    src:url("fonts/Bukhari/BukhariScript-Regular.otf");
} */
/* @font-face {
    font-family: "Squad";
    src:url("fonts/Squad/Squad-Regular.otf");
} */

html{
  margin:0;
  padding:0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #021633;
}
body{
  /* height: 100%; */
  margin: 0;
}
#bg img {
  position:absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  margin: auto;
}
h1{
  z-index: 1000;
  position:relative;
}

/* svg{
  margin:0;
  padding:0;
} */

.continueButton{
  position:fixed;
  background-position: center;
  height:3vw;
  width:3vw;
  left:49vw;
  margin-left: -1.5vw;
  margin-right: -1.0vw;
  top: 70%;
  margin-top: -1.5vw;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(226, 237, 255);
  animation: pulse 2s infinite;
  animation-delay: 1.3s;
  z-index: 3;
}
.continueButton:active {
  height:2.7vw;
  width:2.7vw;
  margin-left: -1.35vw;
  margin-right: 1.35vw;
  margin-top: -1.35vw;
  animation: pulse 0.7s infinite;
}

.red, .orange, .yellow, .green, .blue, .indigo, .violet{
  height:3.5vw;
  width:3.5vw;
  margin:auto;
  display: block;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 rgb(0,0,0);
  /* animation: pulse 2s infinite; */
  /* animation-delay: 1.3s; */
  opacity:0;
  z-index: 3;
}
/* , .orange:hover ~ .sinText, .yellow:hover ~ .sinText, .green:hover ~ .sinText, .blue:hover ~ .sinText, .indigo:hover ~ .sinText, .violet:hover ~ .sinText */
.red:active, .orange:active, .yellow:active, .green:active, .blue:active, .indigo:active, .violet:active {
  height:3.2vw;
  width:3.2vw;
  margin: auto;
  margin-top: 0.15vw;
  box-shadow: 0 0 0 rgb(0,0,0);
  animation: pulse2 0.7s infinite;
}

.black{
  height:3.5vw;
  width:3.5vw;
  margin:auto;
  display: block;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0, 0, 0);
  /* animation: pulse 2s infinite; */
  /* animation-delay: 1.3s; */
  opacity:0;
  z-index: 3;
}
.black:active{
  height:3.2vw;
  width:3.2vw;
  margin: auto;
  margin-top: 0.15vw;
  box-shadow: 0 0 0 rgb(0,0,0);
  animation: pulse2 0.7s infinite;
}
.white{
  height:3.2vw;
  width:3.2vw;
  margin:auto;
  display: block;
  border-radius: 50%;
  cursor: pointer;
  /* animation: pulse2 2s infinite;
  animation-delay: 1.3s; */
  box-shadow: 0 0 0 0.3vw #020429;
  opacity:0;
  z-index: 3;
}
.white:active{
  height:2.9vw;
  width:2.9vw;
  margin: auto;
  margin-top: 0.15vw;
}
.aboutMe{
  height:3.5vw;
  width:10vw;
  margin:auto;
  display: block;
  border-radius: 10em;
  cursor: pointer;
  /* animation: pulse2 2s infinite;
  animation-delay: 1.3s; */

  opacity:0;
  z-index: 3;
}
.aboutMe:active{
  height:3.2vw;
  width:9.7vw;
  margin: auto;
  margin-top: 0.15vw;
  box-shadow: 0 0 0 rgb(0,0,0);
  animation: pulse2 0.7s infinite;
}
.aboutMeTextContainer{
  position: absolute;
  height:3.5vw;
  width:10vw;
  z-index: 4;
}
.aboutMeText{
  fill:"#FFFFFF";
  font-size:"0.7vmin";
  font-family: "Manrope-Bold";
  position:absolute;
}

.name {
  position:absolute;
  left:2vw;
  top:0;
  height: 100vh;
  width:99vw;
  margin-right: 1.0vw;
  margin-bottom: 10%;
}
.landing{
  display: grid;
  min-height: 100%;
  position:relative;
}
.spacerbcIwantmorescroll{
  height:50%;
}
.emotions{
  min-height: 100%;
  width: 100%;
  bottom:3vh;
  left:0;
  position: fixed;
  z-index: 2;
  visibility: hidden;
}
.absoluteBubbleGrid{
  position:absolute;
  width:100%
  left:0
}
.bubbleGrid{
  position:relative;
  /* padding-top: 10vh; */
  height:45vh;
  margin-left: 20vw;
  margin-right: 20vw;
  /* margin-bottom: 10vw; */
  width:60vw;
}
.bubbleRow{
  content:"";
  display: table;
  clear:both;
  width:100%;
}
.bubbleColumn{
  float:left;
  min-height:2vh;
  width:12.5%;
}
.bubbleColumn2{
  position:relative;
  float:left;
  min-height:2vh;
  width:25%;
  margin-top: 10vh;
  margin-bottom: 15vh;
  margin-left: auto;
  margin-right: auto;
}
.bubbleColumn3{
  float:left;
  min-height:2vh;
  width:25%;
}
.cryptic_quote{
  position:relative;
  text-align: center;
  height:auto;
  width: -webkit-fill-available;
  font-size: 3vw;
  -webkit-text-fill-color: #020429;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 10vh;
  margin-bottom: 10vh;
  left:0;
  font-family: "Manrope-Bold";
  /* font-style: italic; */
  word-spacing: 0.1em;
  opacity:0;
  user-select: none;
}
.mood{
  font-family: "Manrope-Bold";
  color: transparent;
  background: linear-gradient(to right, #307AB4,#8030B4); /* Standard syntax (must be last) */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4vw;
  z-index: 1;
  opacity:0;
}
.welcome{
  font-family: "Baron";
  font-size:7vw;
  letter-spacing:0.15em;
  color:transparent;
  text-align: center;
  margin-top:auto;
  margin-bottom: auto;
  z-index: 2;
  user-select: none;
}
.st21{
  animation:fadein 2s ease-in-out forwards;
}
.st22{
  animation:fadein 2s ease-in-out forwards;
  animation-delay: 0.3s;
}
.st23{
  animation:fadein 2s ease-in-out forwards;
  animation-delay: 0.6s;
}
.sin{
  top:calc(28vh + 7.6vw);
  position: absolute;
  left:-10%;
  z-index:5;
  width:115vw;
  height:4.5vw;
  /* top:-0.2vh; */
}
.sinText{
  position: relative;
  text-align: center;
  /* left:-130%; */
  height:4.5vw;
  width: 115vw;
  box-shadow: 0 0 0 0 #99020429;
}
.nav{
  z-index: 2;
  position:fixed;
  x:0;
  y:0vh;
  width:10vw;
  height: 110%;
  fill: #000000;
  opacity:0;
  animation:unbulge 1s ease-in forwards;
}
.navBar{
  x:0;
  y:0;
  width:10vw;
  height:100%;
  border-radius: 0;
  -webkit-transition: width 0.7s, border-radius 1s;
}
.navBar:hover{
  width:12vw;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  -webkit-transition: width 1s, border-bottom-right-radius 0.7s, border-top-right-radius 0.7s;
  cursor: pointer;
}
.navBar:active{
  width:11vw;
  -webkit-transition: width 0.2s;
}

.blog{
  position:absolute;
  left:0;
  width:100%;
  height: 100%;
  z-index: -3;
  opacity:0;
}
.blogTitle{
  position:relative;
  text-align: left;
  height:auto;
  width: -webkit-fill-available;
  font-size: 8vw;
  -webkit-text-fill-color: #020429;
  padding-left: 20vw;
  padding-right: 21vw;
  padding-top: 15vh;
  margin-bottom: 10vh;
  font-family: "Hagin";
  /* font-style: italic; */
}
.blogEntry{
  position:relative;
  font-family: "Manrope-Regular";
  font-size: 1.5vw;
  margin-left: 25vw;
  margin-right: 25vw;
}

mask path {
    fill: none;
    stroke: white;
    stroke-width: 5;
    stroke-dasharray: 4500 4500;
    stroke-dashoffset: 4500;
    animation: brush 15s linear forwards;
}
@keyframes fadein {
    from {
      fill-opacity: 0;
    }
    to   {
      fill-opacity: 1;
    }
}
@keyframes darken {
    from {
      box-shadow: 0 0 0 0 #99020429;
    }
    to   {
      box-shadow:0 0 0 1600px rgba(0,0,0,0.65);
    }
}
@keyframes bulge {
    from {
      border-radius:0;
      width:100%;
    }
    to   {
      border-radius: 50%;
      width:13vw;
    }
}
@keyframes unbulge {
    from {
      border-radius: 50%;
      width:13vw;
    }
    to   {
      border-radius:0;
      width:10vw;
    }
}
@keyframes brush {
      0% { stroke-dashoffset: 4500; }
     20% { stroke-dashoffset: 0; }
     80% { stroke-dashoffset: 0; }
    100% { stroke-dashoffset: 0; }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(226, 237, 255, 0.4);
    box-shadow: 0 0 0 0 rgba(226, 237, 255, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 15px rgba(226, 237, 255, 0);
      box-shadow: 0 0 0 15px rgba(226, 237, 255, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(226, 237, 255, 0);
      box-shadow: 0 0 0 0 rgba(226, 237, 255, 0);
  }
}
@keyframes pulse2{
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes breathe {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}


/*scroll barr*/
/* width */
::-webkit-scrollbar {
  width: 20px;
}
/* Track */
::-webkit-scrollbar-track {
  /* display: none; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #020429;
  /* background: rgba(226, 237, 255); */
  background-clip: padding-box;
  border-radius: 10px;
  border: 6px solid transparent;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #05347a;
} */
